config ZMK_RUNTIME_INPUT_PROCESSOR
    bool "Enable template feature"

if ZMK_RUNTIME_INPUT_PROCESSOR

config ZMK_RUNTIME_INPUT_PROCESSOR_STUDIO_RPC
    bool "Enable template feature custom Studio RPC"
    depends on ZMK_STUDIO

endif
