config ZMK_RUNTIME_INPUT_PROCESSOR
    bool "Enable runtime input processor feature"

if ZMK_RUNTIME_INPUT_PROCESSOR

config ZMK_RUNTIME_INPUT_PROCESSOR_STUDIO_RPC
    bool "Enable runtime input processor custom Studio RPC"
    depends on ZMK_STUDIO

endif
