/*
* Copyright (c) 2026 The ZMK Contributors
* SPDX-License-Identifier: MIT
*
* Common Runtime Input Processor Configurations
*
* This file provides pre-configured runtime input processors that can be easily
* included and used in keyboard configurations. Users can override these or
* create their own custom processors.
*/

#include <dt-bindings/zmk/behaviors.h>

/ {
	behaviors {
		// High DPI
#if ZMK_BEHAVIOR_OMIT(RIP)
		/omit-if-no-ref/
		#endif
		rip_hdpi: hdpi {
			compatible = "zmk,behavior-input-processor-temp-config";
			processor-name = "mouse";
			// 1.5x scaling
			scale-multiplier = <3>;
			scale-divisor = <2>;
			
			#binding-cells = <0>;
		};
		
		// Low DPI
    #if ZMK_BEHAVIOR_OMIT(RIP)
		/omit-if-no-ref/
		#endif
		rip_ldpi: ldpi {
			compatible = "zmk,behavior-input-processor-temp-config";
			processor-name = "mouse";
			// x0.5 scaling
			scale-multiplier = <1>;
			scale-divisor = <2>;
			
			#binding-cells = <0>;
		};
		
		// High Speed Scroll
    #if ZMK_BEHAVIOR_OMIT(RIP)
		/omit-if-no-ref/
		#endif
		rip_hscr: hscr {
			compatible = "zmk,behavior-input-processor-temp-config";
			processor-name = "scroll";
			
			scale-multiplier = <3>;
			scale-divisor = <2>;
			
			#binding-cells = <0>;
		};
		
		// Low Speed Scroll
    #if ZMK_BEHAVIOR_OMIT(RIP)
		/omit-if-no-ref/
		#endif
		rip_lscr: lscr {
			compatible = "zmk,behavior-input-processor-temp-config";
			processor-name = "scroll";
			scale-multiplier = <1>;
			scale-divisor = <2>;
			
			#binding-cells = <0>;
		};
		
        #if ZMK_BEHAVIOR_OMIT(RIP)
		/omit-if-no-ref/
		#endif
		rip_amka: amka {
			compatible = "zmk,behavior-input-processor-temp-layer-keep-active";
			processor-name = "mouse";
			#binding-cells = <0>;
		};
	};
};
